demoparser2==0.38.0
numpy==2.2.4
pandas==2.2.3
polars==1.25.2
pyarrow==19.0.1
pygame==2.6.1
python-dateutil==2.9.0.post0
pytz==2025.1
six==1.17.0
tqdm==4.67.1
tzdata==2025.1
pygame_gui==0.6.13
pygame-ce==2.5.3
pygame-pgu==0.21
python-i18n==0.3.9